<html>
    <head>
        <title>Duino Coin Faucet</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <form method="post" action="/">
            Faucet balance is: {{ balance }} DUCOs
            <br>
            <div>
            Enter name to send 0.01 DUCO:
            <textarea name="textbox"></textarea>
            <br>
            Enter your one-time token, which you can get <a href="/captcha">here.</a>
            <textarea name="captcha"></textarea>
            </div>
            <button type="submit" name="submit">Submit</button>
            <hr>
            To help us, you can donate to SsNiPeR1. No mining for now.
        </form>
    </body>
</html>